@import '../../../styles/variables';

.button {
  background-color: $color-highlight;
  color: $color-white;
  border-radius: 2px;
  padding: 8px 16px;
  margin: 8px;
  margin-left: 0;
  border: none;

  &:hover, &:focus {
    background-color: $color-highlight-3;
  }

  &:active {
    background-color: $color-highlight-2;
  }

  &[disabled] {
    background-color: $color-white;
    color: $color-hinted;
    border: 1px solid currentColor;
  }
}

.button--pseudo {
  background-color: transparent;
  color: $color-highlight;

  &:hover, &:focus {
    background-color: transparent;
    color: $color-highlight-3;
  }

  &:active {
    background-color: transparent;
    color: $color-highlight-2;
  }

  &[disabled] {
    background-color: transparent;
    color: $color-hinted;
    border: none;
  }
}
