<section class="profile_edit-details">
  <h2>Workspace settings</h2>
  <form>
    <div>
      <app-dropdown
        [control]="workspaceSettingForm.controls['timezones']"
        [options]="timezones"
      >
      Time zone
      </app-dropdown>
      <app-dropdown
        [control]="workspaceSettingForm.controls['languages']"
        [options]="languages"
      >
        Language
      </app-dropdown>
    </div>
    <div>
      <app-dropdown
        [control]="workspaceSettingForm.controls['taskStatus']"
        [options]="taskStatus"
      >
        New task created by default as
      </app-dropdown>
    </div>
    <div>
      <app-checkbox>
        Show pop-up with suggestion to align the dates of tasks and subtasks.
        <br>
        <a>How does subtask alignment work?</a>
      </app-checkbox>
    </div>

    <app-button (click)="onSubmit()">Save settings</app-button>
  </form>
</section>
