<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<p>Main text</p>
<p class="text-secondary">Secondary text</p>
<p>Some multiline text Some multiline text Some multiline text Some multiline textSome multiline text Some multiline text Some multiline textSome multiline textSome multiline text Some multiline text Some multiline text Some multiline textSome multiline text Some multiline textSome multiline textSome multiline text Some multiline text. <a>unusable link</a></p>

<p>
  <app-button>Default button</app-button>
  <app-button [disabled]="true">Disabled button</app-button>
  <br>
  <app-button [pseudo]="true">Disabled button</app-button>
  <app-button [pseudo]="true" [disabled]="true">Disabled button</app-button>
</p>

<p>
  <app-input placeholder="placeholder">with label</app-input>
  <app-input></app-input>
</p>
