<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<p>Main text</p>
<p class="text-secondary">Secondary text</p>
<p>Some multiline text Some multiline text Some multiline text Some multiline textSome multiline text Some multiline text Some multiline textSome multiline textSome multiline text Some multiline text Some multiline text Some multiline textSome multiline text Some multiline textSome multiline textSome multiline text Some multiline text. <a>unusable link</a></p>

<p>
  <app-button>Default button</app-button>
  <app-button disabled="true">Disabled button</app-button>
  <br>
  <app-button pseudo="true">Pseudo button</app-button>
  <app-button pseudo="true" [disabled]="true">Disabled pseudo button</app-button>
</p>

<p>
  <app-input></app-input>
  <app-input placeholder="Placeholder">Input</app-input>
  <app-input placeholder="Placeholder" error="true">With error</app-input>
  <app-input placeholder="Placeholder" disabled="true">Disabled input</app-input>
</p>

<p>
  <app-dropdown></app-dropdown>
  <app-dropdown placeholder="Placeholder">Dropdown</app-dropdown>
  <app-dropdown placeholder="Placeholder" error="true">With error</app-dropdown>
  <app-dropdown placeholder="Placeholder" disabled="true">Disabled dropdown</app-dropdown>
</p>
