@import './variables';

@mixin form-element {
  display: block;
  margin-right: 32px;
  margin-bottom: 24px;
  color: $color-font-main;
  max-width: 100%;
}

@mixin form-element-field {
  display: block;
  height: 32px;
  width: 100%;
  border: 1px solid $color-hinted;
  border-radius: 2px;
  color: $color-font-main;
  background-color: $color-white;

  &[disabled] {
    color: $color-hinted;
    background-color: $color-white;
  }

  &:focus {
    border-color: $color-highlight;
  }
}

@mixin form-element-label {
  font-size: $font-size-small;
  line-height: 24px;
}
