body {
  font-size: $font-size-default;
  line-height: $line-height-default;
  color: $color-font-main;
}

h2 {
  font-size: 28px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

a {
  color: $color-highlight;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.text-secondary {
  font-size: $font-size-small;
}
