:root {
  --font-size-small: 0.86rem;
  --font-size-default: 14px;
  --line-height-default: 1.57;
}

body {
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
}

h1 {
  font-size: 2rem;
  line-height: 1.42;
}

h2 {
  font-size: 1.42rem;
  line-height: 1.6;
}

h3 {
  font-size: 1.28rem;
  line-height: 1.55;
}

a {
  color: var(--color-highlight);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.text-secondary {
  font-size: var(--font-size-small);
}
