:root {

  // === FONTS ===
  --font-family-default: Open Sans, HelveticaNeue, Helvetica, Arial, sans-serif;

  // === TYPOGRAPHY ===
  --font-size-small: 0.86rem;
  --font-size-default: 14px;
  --line-height-default: 1.57;

  // === COLORS ===
  --color-font-main: hsla(0, 0%, 0%, 0.9);
  --color-font-inverted: hsl(0, 0%, 100%, 0.9);
  --color-panel: hsl(209, 38%, 25%);
  --color-highlight: hsl(218, 99%, 63%);
  --color-highlight-2: hsl(218, 77%, 57%);
  --color-highlight-3: hsl(218, 89%, 69%);
  --color-error: hsl(355, 85%, 65%);
  --color-gray: hsl(0, 0%, 67%);
  --color-border: hsl(0, 0%, 100%, 0.16);
  --color-hinted: hsl(0, 0%, 0%, 0.32);
  --color-blacklight: hsl(0, 0%, 100%, 0.04);
  --color-white: white;
}
