<aside class="sidebar">
  <nav>
    <span>PERSONAL SETTINGS</span>
    <ul>
      <li>
        Profile details
      </li>
      <li>
        Profile details
      </li>
      <li>
        Profile details
      </li>
      <li>
        Profile details
      </li>
      <li>
        Profile details
      </li>
      <li>
        Profile details
      </li>
    </ul>

    <span>ACCOUNT MANAGEMENT</span>
    <ul>
      <li>
        Subscription
      </li>
      <li>
        Subscription
      </li>
      <li>
        Subscription
      </li>
      <li>
        Subscription
      </li>
      <li>
        Subscription
      </li>
      <li>
        Subscription
      </li>
    </ul>
  </nav>
</aside>
