.sidebar {
  background-color: var(--color-panel);
  color: var(--color-font-inverted);
  width: 256px;
  padding: 0 32px;
}

.nav-sidebar {

  &_wrapper {

  }

  &_section-title {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    width: 100%;
  }

  &_section-icon {
    position: absolute;
    margin-right: 16px;
    left: -24px;
  }

  &_list {
  }

  &_item {
  }

  &_link {
    color: var(--color-font-inverted);
  }

  &_divider {
  }
}

