<aside class="sidebar">
  <nav class="nav-sidebar_wrapper">
    <span class="nav-sidebar_section-title">
      <img src="../../../assets/icons/user-small_icon.svg" class="nav-sidebar_section-icon"/>
      PERSONAL SETTINGS
    </span>
    <ul class="nav-sidebar_list text-secondary">
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Profile details
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Account info
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Email preferences
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Work schedule
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Password & security
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Apps access
        </a>
      </li>
    </ul>

    <hr class="nav-sidebar_divider">

    <span class="nav-sidebar_section-title">
      <img src="../../../assets/icons/settigns-gearwheel_icon.svg" class="nav-sidebar_section-icon"/>
      ACCOUNT MANAGEMENT
    </span>
    <ul class="nav-sidebar_list text-secondary">
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Subscription
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Billing
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Users & Groups
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Request from builder
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Custom workflows
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Activity reports
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Calendars
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Account settings
        </a>
      </li>
      <li class="nav-sidebar_item">
        <a class="nav-sidebar_link" href="#">
          Advanced security
        </a>
      </li>
    </ul>
  </nav>
</aside>
