@import "../../../styles/mixins";

:host {
  display: inline-block;
  min-width: 256px;
}

.dropdown {
  @include form-element;
  position: relative;

  &_label {
    @include form-element-label;
  }

  &_field {
    @include form-element-field;
    padding: 0 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &::after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #2f2f2f;
      font-size: 0;
      line-height: 0;
    }

    &::-ms-expand {
        display: none;
    }
  }

  &_placeholder {
    color: var(--color-hinted);
  }

  ::after {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(../../../assets/icons/down-semibold_icon.svg);
    position: absolute;
    right: 8px;
    top: 32px;
  }
}

.dropdown--error {

  .dropdown_label {
    color: var(--color-error);
  }

  .dropdown_field {
    border-color: var(--color-error);
  }
}

.dropdown--disabled {
  color: var(--color-hinted);

  .dropdown_label {
    color: currentColor;
  }

  .dropdown_field {
    border-color: var(--color-hinted);
  }
}
