<section class="profile_edit-details">
  <h2>Profile details</h2>
  <user-badge
    size="medium"
    firstName="Ivan"
    lastName="Doev"
    position="UI developer (crafting Team)"
  >
  </user-badge>
  <form [formGroup]="profileForm" class="profile_form">
    <div>
      <app-input [control]="profileForm.controls['firstName']" name="first">First name</app-input>
      <app-input [control]="profileForm.controls['lastName']">Last name</app-input>
    </div>
    <div>
      <app-input [control]="profileForm.controls['companyName']">Company name</app-input>
      <app-input [control]="profileForm.controls['jobTitle']">Job title</app-input>
    </div>
    <div>
      <app-input [control]="profileForm.controls['location']">Location</app-input>
      <app-input [control]="profileForm.controls['phoneNumber']" type="tel">Phone number</app-input>
    </div>

    <app-button (click)="onSubmit()" [disabled]="profileForm.pristine">Save changes</app-button>
    <app-button (click)="profileForm.reset()" pseudo="true">Cancel</app-button>
  </form>
</section>
