.header {
  display: flex;
  background-color: var(--color-panel);
  color: var(--color-font-inverted);
  height: var(--height-header);
  padding: 0 16px;
  align-items: center;

  &_logo {
    height: 22px;
    box-sizing: content-box;
  }

  &_dropdown-menu {
    margin-left: auto;
  }
}
