@import '../../../styles/mixins';
@import '../../../styles/variables';

:host {
  display: inline-block;
  min-width: 256px;
}

.input {
  @include form-element;

  &_label {
    @include form-element-label;
  }

  &_field {
    @include form-element-field;
    padding: 0 10px;

    &:placeholder-shown {
      color: $color-hinted;
    }
  }
}

.input--error {

  .input_label {
    color: $color-error;
  }

  .input_field {
    border-color: $color-error;
  }
}

.input--disabled {

  .input_label {
    color: $color-hinted;
  }

  .input_field {
    border-color: $color-hinted;
  }
}
