.profile {

  &_edit-details {
    margin: 42px 0;
  }
  
  &_user-badge {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }
  
  &_user-info {
    margin-left: 24px;
  }
  
  &_user-name {
    margin: 0;
  }
  
  &_form {
    margin-top: 24px;
  }
}
