@import '../../../styles/mixins';
@import '../../../styles/variables';

:host {
  display: inline-block;
  min-width: 256px;
}

.checkbox {
  @include form-element;
  max-width: 50%;
  display: flex;

  &_icon {
    min-width: 16px;
    height: 16px;
    margin-top: 3px;
  }

  &_field {
    height: 16px;
    width: 16px;
    border: 1px solid $color-hinted;
    border-radius: 2px;
    padding: 0 10px;
    display: none;
  }
}

.checkbox:hover {
  .checkbox_check, .checkbox_box {
    fill: $color-highlight-3;
    fill-opacity: 1;
  }

  .checkbox_label {
    color: $color-highlight-3;
  }
}

.checkbox:focus {
  .checkbox_check, .checkbox_box {
    fill: $color-highlight;
    fill-opacity: 1;
  }

  .checkbox_label {
    color: $color-highlight;
  }
}

.checkbox--error {
  .checkbox_check, .checkbox_box {
    fill: $color-error !important;
    fill-opacity: 1;
  }

  .checkbox_label {
    color: $color-error !important;
  }
}

.checkbox--disabled {
  .checkbox_check, .checkbox_box {
    fill: $color-hinted !important;
    fill-opacity: 1;
  }

  .checkbox_label {
    color: $color-hinted !important;
  }
}

.checkbox_label {
  font-size: $font-size-small;
  margin-left: 4px;
}
