@import '../../../styles/mixins';
@import '../../../styles/variables';

:host {
  display: inline-block;
  min-width: 256px;
}

.checkbox {
  @include form-element;
  max-width: 50%;

  &::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(../../../assets/icons/unchecked/normal1.svg)
  }
}

.checkbox--checked {
  &::before {
    background-image: url(../../../assets/icons/checked/normal.svg)
  }
}

.checkbox--error {

  .checkbox_label {
    color: $color-error;
  }

  .checkbox_field {
    border-color: $color-error;
  }
}

.checkbox--disabled {

  .checkbox_label {
    color: $color-hinted;
  }

  .checkbox_field {
    border-color: $color-hinted;
  }
}

.checkbox_label {
  font-size: $font-size-small;
  margin-left: 4px;
}

.checkbox_field {
  height: 16px;
  width: 16px;
  border: 1px solid $color-hinted;
  border-radius: 2px;
  padding: 0 10px;
  display: none;

  &[disabled] {
    background-color: $color-white;
  }

  &:placeholder-shown {
    color: $color-hinted;
  }

  &:focus {
    border-color: $color-highlight;
  }
}
